doctype html
html
    title Playground
    link(rel='stylesheet', href='/stylesheets/dynamic_style.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap",rel="stylesheet")
body
    h1 Here is Dynamic page Playground
    p do whatever i want here...
    div(id='mytable')
        table
            thead
                tr
                    td 
                        p Car Name
                    td 
                        p Car Brand
                    td 
                        p Manufacter Year
            tbody
                tr
                    td 
                        p #{d1}
                    td 
                        p #{d2}
                    td 
                        p #{d3}

    footer
        p this website was made by Express.js