doctype html
html
    title My Form Filling
    link(rel='stylesheet', href='/stylesheets/dynamic_style.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap",rel="stylesheet")
body
    h1 Fill the form here
    form(method='post',action='/form/form_submit')
        input(type='text',id='body1',name='body1',placeholder='Car Name')
        br
        input(type='text',id='body2',name='body2',placeholder='Car Brand')
        br
        input(type='text',id='body3',name='body3',placeholder='Manufacter Year',maxlength='4')
        br
        input(id='submit',type='submit')
    footer
        p this website was made by Express.js