doctype html
html
    title Bootstrap page
    link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap",rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/static_style.css')
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
head
    link(rel='stylesheet',href='https://raw.githubusercontent.com/daneden/animate.css/master/animate.css')
body
    div(class='jubmbotron text-center')
        h1 Hello new app !
        p How do you do ?

    div(class='container')
        div(class='row')
            div(class='col-sm-4')
                img(src='/images/goose.jpg',style="width:50%")
                p abc
            div(class='col-sm-4')
                img(src='/images/goose.jpg',style="width:50%")
                p def
            div(class='col-sm-4')
                img(src='/images/goose.jpg',style="width:50%")
                p hij

        div(class='row')
            div(class='animated shake')
                h1 Hello 123
                p Hello 456
