doctype html
html
    title static page
    link(rel='stylesheet', href='/stylesheets/static_style.css')
    link(href="https://fonts.googleapis.com/css?family=Raleway&display=swap",rel="stylesheet")
body
    h1 Hello! This is my static page
    p Here is some picture of geese.
    img(src='/images/goose.jpg',style="width:30%")
    br
    a(href='/dynamic') Database Area
    br
    a(href='/form') Form Area