html{
    padding: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-image: url("https://redpithemes.com/Documentation/assets/img/page_bg/page_bg_01.jpg");
}
body{
    width: 100%;
    text-align: center;
}
#mytable{
    padding-left: 30%;
    padding-right: 30%;
}
#mytable table{
    width: 100%;
    border-collapse: collapse;
}
#mytable td{
    border: solid black 2px;
}
#mytable p{
    margin: 5px;
}
#mytable thead{
    color: red;
    text-align: center;
}
#mytable tbody{
    color: blue;
    text-align: center;
}
#myform{
    margin-top: 50px;
    padding-left: 30%;
    padding-right: 30%;
}
#myform form{
    text-align: left;
}
#myform input{
    margin: 10px;
    width: 300px;
    height: 30px;
}
#myform input#submit{
    width: 100px;
    height: 30px;
}