body{
    padding: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-image: url("https://redpithemes.com/Documentation/assets/img/page_bg/page_bg_01.jpg");
}
h1{
    font-size: 20px;
}
